version: '3.0'
services:
  eurekaserver:
    image:   huajwang/eurekasvr:ttmall
    ports:
      - "${EUREKASERVER_PORT}:${EUREKASERVER_PORT}"

  configserver:
    image: huajwang/confsvr:ttmall
    ports:
       - "${CONFIGSERVER_PORT}:${CONFIGSERVER_PORT}"
    environment:
      SERVER_PORT: "${CONFIGSERVER_PORT}"
      EUREKASERVER_PORT: "${EUREKASERVER_PORT}"
      EUREKASERVER_URI: "http://eurekaserver:${EUREKASERVER_PORT}/eureka/"
      ENCRYPT_KEY:       "IMSYMMETRIC"
    depends_on:
      - eurekaserver

  db-mysql:
    image: 'mysql:5.7.20'
    ports:
      - "${DATABASE_PORT}:${DATABASE_PORT}"
    environment:
      - MYSQL_USER=root
      - MYSQL_ROOT_PASSWORD=Gold1Silver2
      - MYSQL_DATABASE=db-demo
    volumes:
      - dbdata:/var/lib/mysql
    command: mysqld --lower_case_table_names=1 --skip-ssl --character_set_server=utf8mb4 --explicit_defaults_for_timestamp

  ui-service:
    image: huajwang/ui-service:ttmall
    container_name: frontend
    ports:
      - "8080:8080"
    environment:
      PROFILE: "${PROFILE_ACTIVE}"
      SERVER_PORT: "8080"
      EUREKASERVER_PORT: "${EUREKASERVER_PORT}"
      CONFIGSERVER_PORT: "${CONFIGSERVER_PORT}"
      CONFIGSERVER_URI: "http://configserver:${CONFIGSERVER_PORT}"
      EUREKASERVER_URI: "http://eurekaserver:${EUREKASERVER_PORT}/eureka/"
      ZIPKIN_URI: "http://zipkin:${ZIPKIN_PORT}"
      DOMAIN_NAME: "${DOMAIN_NAME}"
      CLIENT_SECRET: ${CLIENT_SECRET}
      GOOGLE_APP_ID: ${GOOGLE_APP_ID}
      GOOGLE_APP_SECRET: ${GOOGLE_APP_SECRET}
      GITHUB_APP_ID: ${GITHUB_APP_ID}
      GITHUB_APP_SECRET: ${GITHUB_APP_SECRET}
      FACEBOOK_APP_ID: ${FACEBOOK_APP_ID}
      FACEBOOK_APP_SECRET: ${FACEBOOK_APP_SECRET}
      ENCRYPT_KEY: "IMSYMMETRIC"
    depends_on:
      - eurekaserver
      - configserver
 
  course-service:
    image: huajwang/course-service:ttmall
    ports:
      - 9001:9001
    environment:
      PROFILE: "${PROFILE_ACTIVE}"
      SERVER_PORT: "9001"
      EUREKASERVER_PORT: "${EUREKASERVER_PORT}"
      CONFIGSERVER_PORT: "${CONFIGSERVER_PORT}"
      EUREKASERVER_URI: "http://eurekaserver:${EUREKASERVER_PORT}/eureka/"
      CONFIGSERVER_URI: "http://configserver:${CONFIGSERVER_PORT}"
    depends_on:
      - eurekaserver
      - configserver
      - db-mysql

  web:
    image: nginx
    volumes:
      - ./templates:/etc/nginx/templates
      - ./ssl:/usr/local/nginx/conf
    ports:
      - "80:80"
      - "443:443"
    environment:
      NGINX_HOST: "${NGINX_HOST}"
      NGINX_PORT: "${NGINX_PORT}"
    depends_on:
      - ui-service

volumes:
  dbdata:
