version: '3.0'
services:
  eurekaserver:
    image:   huajwang/eurekasvr:ttmall
    ports:
      - "${EUREKASERVER_PORT}:${EUREKASERVER_PORT}"

  configserver:
    image: huajwang/confsvr:ttmall
    ports:
       - "${CONFIGSERVER_PORT}:${CONFIGSERVER_PORT}"
    environment:
      SERVER_PORT: "${CONFIGSERVER_PORT}"
      EUREKASERVER_PORT: "${EUREKASERVER_PORT}"
      EUREKASERVER_URI: "http://eurekaserver:${EUREKASERVER_PORT}/eureka/"
      ENCRYPT_KEY:       "IMSYMMETRIC"
    depends_on:
      - eurekaserver

  authenticationservice:
      image: huajwang/authentication-service:ttmall
      ports:
        - "${AUTHSERVER_PORT}:${AUTHSERVER_PORT}"
      environment:
        PROFILE: "${PROFILE_ACTIVE}"
        SERVER_PORT: "${AUTHSERVER_PORT}"
        EUREKASERVER_PORT: "${EUREKASERVER_PORT}"
        CONFIGSERVER_PORT: "${CONFIGSERVER_PORT}"
        CONFIGSERVER_URI: "http://configserver:${CONFIGSERVER_PORT}"
        EUREKASERVER_URI: "http://eurekaserver:${EUREKASERVER_PORT}/eureka/"
        ENCRYPT_KEY: "IMSYMMETRIC"
      depends_on:
       - eurekaserver
       - configserver
       - db-mysql

  db-mysql:
    image: 'mysql:5.7.20'
    ports:
      - "${DATABASE_PORT}:${DATABASE_PORT}"
    environment:
      - MYSQL_USER=root
      - MYSQL_ROOT_PASSWORD=Gold1Silver2
      - MYSQL_DATABASE=db-demo
    volumes:
      - dbdata:/var/lib/mysql
    command: mysqld --lower_case_table_names=1 --skip-ssl --character_set_server=utf8mb4 --explicit_defaults_for_timestamp

  ui-service:
    image: huajwang/ui-service:ttmall
    ports:
      - "8080:8080"
    environment:
      PROFILE: "${PROFILE_ACTIVE}"
      SERVER_PORT: "8080"
      EUREKASERVER_PORT: "${EUREKASERVER_PORT}"
      CONFIGSERVER_PORT: "${CONFIGSERVER_PORT}"
      AUTHSERVER_PORT: "${AUTHSERVER_PORT}"
      CONFIGSERVER_URI: "http://configserver:${CONFIGSERVER_PORT}"
      EUREKASERVER_URI: "http://eurekaserver:${EUREKASERVER_PORT}/eureka/"
      ZIPKIN_URI: "http://zipkin:${ZIPKIN_PORT}"
      DOMAIN_NAME: "${DOMAIN_NAME}"
      CLIENT_SECRET: ${CLIENT_SECRET}
      ENCRYPT_KEY: "IMSYMMETRIC"
    depends_on:
      - eurekaserver
      - configserver
      - authenticationservice
 
  licensingservice:
    image: huajwang/licensing-service:ttmall
    ports:
      - "8282:8282"
    environment:
      PROFILE: "${PROFILE_ACTIVE}"
      SERVER_PORT: "8282"
      EUREKASERVER_PORT: "${EUREKASERVER_PORT}"
      CONFIGSERVER_PORT: "${CONFIGSERVER_PORT}"
      AUTHSERVER_PORT: "${AUTHSERVER_PORT}"
      EUREKASERVER_URI: "http://eurekaserver:${EUREKASERVER_PORT}/eureka/"
      CONFIGSERVER_URI: "http://configserver:${CONFIGSERVER_PORT}"
      ENCRYPT_KEY: "IMSYMMETRIC"
    depends_on:
      - eurekaserver
      - configserver
      - db-mysql
      - authenticationservice

  organizationservice:
    image: huajwang/organization-service:ttmall
    ports:
      - "8181:8181"
    environment:
      PROFILE: "${PROFILE_ACTIVE}"
      SERVER_PORT: "8181"
      EUREKASERVER_PORT: "${EUREKASERVER_PORT}"
      CONFIGSERVER_PORT: "${CONFIGSERVER_PORT}"
      AUTHSERVER_PORT: "${AUTHSERVER_PORT}"
      EUREKASERVER_URI: "http://eurekaserver:${EUREKASERVER_PORT}/eureka/"
      CONFIGSERVER_URI: "http://configserver:${CONFIGSERVER_PORT}"
      ENCRYPT_KEY: "IMSYMMETRIC"
    depends_on:
      - eurekaserver
      - configserver
      - db-mysql
      - authenticationservice

  messageservice:
    image: huajwang/message-service:ttmall
    ports:
      - "9000:9000"
    environment:
      PROFILE: "${PROFILE_ACTIVE}"
      SERVER_PORT: "9000"
      EUREKASERVER_PORT: "${EUREKASERVER_PORT}"
      CONFIGSERVER_PORT: "${CONFIGSERVER_PORT}"
      AUTHSERVER_PORT: "${AUTHSERVER_PORT}"
      EUREKASERVER_URI: "http://eurekaserver:${EUREKASERVER_PORT}/eureka/"
      CONFIGSERVER_URI: "http://configserver:${CONFIGSERVER_PORT}"
      ENCRYPT_KEY: "IMSYMMETRIC"
    depends_on:
      - eurekaserver
      - configserver
      - authenticationservice

  course-service:
    image: huajwang/course-service:ttmall
    ports:
      - 9001:9001
    environment:
      PROFILE: "${PROFILE_ACTIVE}"
      SERVER_PORT: "9001"
      EUREKASERVER_PORT: "${EUREKASERVER_PORT}"
      CONFIGSERVER_PORT: "${CONFIGSERVER_PORT}"
      AUTHSERVER_PORT: "${AUTHSERVER_PORT}"
      EUREKASERVER_URI: "http://eurekaserver:${EUREKASERVER_PORT}/eureka/"
      CONFIGSERVER_URI: "http://configserver:${CONFIGSERVER_PORT}"
    depends_on:
      - eurekaserver
      - configserver
      - db-mysql
      - authenticationservice
          
  zipkin:
    image: openzipkin/zipkin
    ports:
      - "${ZIPKIN_PORT}:${ZIPKIN_PORT}"
  
  redis:
    image: redis:alpine
    ports:
      - 6379:6379

  kafkaserver:
    image: spotify/kafka
    ports:
      - 2181:2181
      - 9092:9092

volumes:
  dbdata:
