eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
      defaultZone: http://eurekaserver:8761/eureka/ 
spring:
  aop:
    proxy-target-class: true
  application:
    name: ui 

security:
  user:
    password: none
  ignored:
  - "*.bundle.*"
  
  oauth2:
    client:
      accessTokenUri: http://authenticationservice:9999/uaa/oauth/token
      userAuthorizationUri: http://localhost:9999/uaa/oauth/authorize
      scope:
        user:profile:read user:profile:write
      clientId: webapp
      clientSecret: abcd1234
    resource:
      jwt:
        key-value: "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAznHR5IiARyC3FW6eHWHneAPdVekj24zv+eSSJQtdhYO/WYu8dJAlurom70IPIV8WjUktYIKEXCnfRz1rWCQPTignoE6/5HPgcfvIz5EwX5r5idM1tkg3TtxOeaVwF47wSauFlv1dAklo7SWTD7Dpf8LU/pXxwCuP5h62TXhX0ld0eGiiyg3qm2EW1mey1EZibrPMbXxRrIR2jWY7a65UZl3ujS+b9cBB7dfC4WVlisgBUOk4J/QZfQg7VezgkdIidMPs3gNBcolsFrsc7qS79OsOpCqWHKnhuV5oPONY5Qzb1JUdDgrcAvMJRg81O3L7P6Xi3wCeB9f9mY9WDF9RXQIDAQAB\n-----END PUBLIC KEY-----" 
zuul:
  sensitive-headers: Cookie,Set-Cookie
  routes:
    resource:
      path: /resource/**
      service-id: MESSAGESERVICE
    user:
      path: /user/**
      service-id: AUTHENTICATIONSERVICE
      
logging:
  level:
    org.springframework.security: DEBUG
