eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true

security:
  oauth2:
    client:
      clientId: ${FACEBOOK_APP_ID}
      clientSecret: ${FACEBOOK_APP_SECRET}
      accessTokenUri: https://graph.facebook.com/oauth/access_token
      userAuthorizationUri: https://www.facebook.com/dialog/oauth
      tokenName: oauth_token
      authenticationScheme: query
      clientAuthenticationScheme: form
    resource:
      userInfoUri: https://graph.facebook.com/me


zuul:
  sensitive-headers: Cookie,Set-Cookie
  routes:
    course:
      path: /edu/**
      serviceId: course-service

logging:
  level:
    org.springframework.security: DEBUG
